@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Sora&display=swap');

* {
    box-sizing: border-box;
    font-family: Poppins;
}

footer {
    display: inline;
    text-align: center;
    margin: 30px;

}

.bottom {
    margin-top: 30px;
}