@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Sora&display=swap');



h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: Poppins;
    font-weight: 100;
    
}

.imageDisplay {
    border: 1px solid grey;
    border-radius: 20px;
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.imageContainer {
    display: inline;
    flex-wrap: wrap;
    text-align: center;
}

.galleryContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
}
