#preloader {
    background: white url(../images/sunshine.png) no-repeat center center;
    background-size: 30%;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 100;
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-40px);
	}
	100% {
		
		transform: translatey(0px);
	}
}