#preloader {
    background: white url(../images/sunshine.png) no-repeat center center;
    background-size: 25%;
    height: 110vh;
    width: 100vw;
    position: fixed;
    z-index: 100;
    animation: float 2.5s ease infinite;
}

.preload-finish {
    opacity: 0;
    transition-delay: 2.5s;
}

@media screen and (max-width: 1000px) {
    #preloader {
      background-size: 75%;
    }
  }



@keyframes float {
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-40px);
	}
	100% {
		
		transform: translatey(0px);
	}
}
